<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Delegate Application | IIIT-Delhi MUN 2017</title>
		
		<meta name="author" content="@snehasi,@snehalgupta,@gureks" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static 'forms/css/default.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'forms/css/component.css' %}" />
		<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">

		<script src="{% static 'forms/js/modernizr.custom.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<span><h1>Individual Delegate Application</h1></span>
<!-- 				<h3>Registration Form </h3>
 -->				
 				<div class="row">
					<div class="col-md-4 col-sm-8">
						<a href="/ip/" class="btn tf-btn btn-default btn-block">Press Applications</a><br><br><br>
					</div>
					<div class="col-md-4 col-sm-8">
						<a href="/delegation/" class="btn tf-btn btn-default btn-block">Delegation Applications</a><br><br><br>
					</div>
					<div class="col-md-4 col-sm-8">
						<a href="/" class="btn tf-btn btn-default btn-block">Homepage</a><br><br><br>
					</div>
					<div class="col-md-8 col-md-offset-2">
						<p><strong>Note:</strong> UNSC - Futuristic is double delegation. Please write details of both in the same field.</p>
					</div>
				</div>
			</header>	
			<div class="main">
				<form class="cbp-mc-form" action="/form_submitted1/" method="POST">{% csrf_token %}
					<div class="cbp-mc-column">
						<label for="first_name">First Name</label>
	  					<input type="text" id="first_name" name="first_name" placeholder="Justin">

	  					<label for="last_name">Last Name</label>
	  					<input type="text" id="last_name" name="last_name" placeholder="Trudeau">

	  					<label for="email">Email Address</label>
	  					<input type="text" id="email" name="email" placeholder="mun@iiitd.ac.in">

	  					<label for="phone">Phone Number</label>
	  					<input type="text" id="phone" name="phone" placeholder="+91-9910004979">
						
						<label for="college">School/College/Institution</label>
	  					<input type="text" id="college" name="college" placeholder="IIIT-Delhi">

	  				</div>
	  				<div class="cbp-mc-column">
	  				
	  					<label for="experience">Previous MUN Experience</label>
	  					<textarea id="experience" name="experience" placeholder="Format: MUN - Position or Country - Committee - Prize Won"></textarea>
	  
	  					<label for="pref1">Committee and Portfolio Preference 1</label>
	  					<textarea id="pref1" name="pref1"></textarea>	
	  				</div>
	  				<div class="cbp-mc-column">
	  					<label for="pref2">Committee and Portfolio Preference 2</label>
	  					<textarea id="pref2" name="pref2"></textarea>	
	  				
	  					<label for="pref3">Committee and Portfolio Preference 3</label>
	  					<textarea id="pref3" name="pref3"></textarea>	
	  				
	  					<div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" type="submit" value="Submit" /></div>
					</div>	
						
	  			
				</form>
			</div>
		</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

	</body>
</html>
